@import "librarie/reset.scss";
@import "librarie/variables.scss";

body {
    font-family: "DM Sans", sans-serif;
    padding: 0px 40px 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 407px;

}

.containerTags .btn-active {
    background-color: $color_tag !important;
    color: $color_background_tag !important;
}
header .recherche .btn-active {
    background-color: $color_tag !important;
    color: $color_background_tag !important;
}
.visually-hidden{
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
#NavAccessible {
    a {
        position: absolute;
        top: 10%;
        left: 0;
        padding: 20px;
        margin: 20px 20px 20px 50px;
        background-color: beige;
        border-radius: 20px;
        opacity: 0;
        transform: translateY(30px);
        z-index: 999999;
        transition: opacity 0.3s, transform 0.3s;
    }
    & :focus {
        opacity: 1;
        transform: translateY(0);
    }

    li {
        color: salmon;
    }
}
#mainSkip{
    position: fixed;
    left: 50%;
    top: 20px;
    background-color: #DB8876;
    padding: 15px;
    border-radius: 5px;
    transform: translateX(-50%);
    color: black;
    visibility: hidden;
}

header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    img {
        width: 200px;
        margin-left: 5%;
    }
    .recherche {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 50%;
        .button_tag {
            border-radius: 20px;
            color: $color_tag;
            border: 1px solid $color_border_tag;
            background-color: $color_background_tag;
            padding: 5px;
            margin: 10px 5px 10px 5px;
            font-size: small;
        }
    }
}
main h1 {
    color: $color_h1;
    font-weight: 400;
    font-size: xx-large;
    text-align: center;
}

#section_profil_photographe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    .profil_individuel_photographe {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 30%;
        margin: 20px;
        h2 {
            margin-top: 20px;
            order: 2;
            color: $color_h2_article;
            font-weight: 400;
        }
        .photo_profil {
            width: 200px;
            height: 200px;
            border-radius: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

section.information_photographe {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    width: 100%;
    order: 3;
    p {
        margin: 5px;
        font-weight: 400;
    }
    p#localisation {
        color: $color_localisation_photographe;
    }
    p#slogan {
        color: $color_slogan_photographe;
    }
    p#prix {
        color: $color_prix_photographe;
    }
}
.containerTags {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    .button_tag {
        border-radius: 20px;
        color: $color_tag;
        border: 1px solid $color_border_tag;
        background-color: $color_background_tag;
        padding: 5px;
        margin: 10px;
        font-size: small;
    }
}


// responsive

@media (min-width: 1200px){
    body{
        max-width: 1530px;
        margin: auto;
    }
}

// tablette portrait
@media (max-width: 768px) {
    header{
        flex-wrap: wrap;
        align-items: center;
        img{
            width: 150px;
        }
        .recherche{
            order: 3;
            width: 100%;
        }
        main h1{
            font-size: x-large;
        }
    }
    #section_profil_photographe {
        flex-direction: column;
        align-items: center;
        .profil_individuel_photographe {
            width: auto;
        }
    }  
 }