
body {
    padding: 0px 50px 0px 50px;
}

.lightBox.fadeOut {
    opacity: 0;
}
section.lightBox {
    overflow-y: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 50;
    animation: lightBoxIn 0.5s;
    transition: opacity 0.3s;

    button.lightBox_close {
        background: url(svg/cross.svg) center center / 100% 100%;
        position: fixed;
        width: 42px;
        height: 42px;
        top: 20px;
        right: 20px;
        z-index: 12;
        cursor: pointer;
    }
    button.lightBox_next,
    button.lightBox_prev {
        width: 48px;
        height: 100%;
        position: fixed;
        top: 0;
        margin-top: -15px;
        z-index: 11;
        cursor: pointer;
    }
    button.lightBox_prev {
        background: url(svg/left.svg) center center / 48px 48px no-repeat;
        right: auto;
        left: 50px;
    }
    button.lightBox_next {
        background: url(svg/right.svg) center center / 48px 48px no-repeat;
        left: auto;
        right: 50px;
    }
}

article.lightBox_bloc {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
    min-height: 100vh;
    img {
        width: auto;
        max-width: 100%;
        height: 90vh;
        object-position: center;
        object-fit: cover;
    }
    video{
        max-width: 100%;
        max-height: 100%;
    }
    #titrePhoto{
        position: absolute;
        left: 50%;
        bottom: 0;
        font-size: large;
        color: rgb(144, 28, 29);
        margin: 0px 0px 0px 0px;
        transform: translateX(-50%);
    }
}


.lightBox_loader {
    width: 38px;
    height: 38px;
    background: url(svg/loader.svg) center center no-repeat;
}

#Containercontrols{
    display: none;
    width: 100%;
    height: 100%;
}

#controls {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 10px;
    button {
        margin: 20px;
        padding: 15px;
        border-radius: 10px;
        background-color: rgb(144, 28, 29);
        color: white;
    }
    .time{
        color: white;
    }
}


#container, #theList{
    position: absolute;
    // z-index: 9999;
    top: 0;
    left: 0;
    padding: 20px;
    margin: 20px;
    background-color: beige;
    border-radius: 20px;
    display: none;
    #messageNav{
        display: block;
        color: salmon;
    }
}


