@import "librarie/variables.scss";
@import "librarie/reset.scss";

/*font-awsome*/
@import "./environnement-sass/scss/fontawesome.scss";
@import "./environnement-sass/scss/solid.scss";
@import "./environnement-sass/scss/brands.scss";
@import "./environnement-sass/scss/regular.scss";

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #db8876;
  position: fixed;
  width: 60%;
  max-height: 100%;
  padding: 50px;
  margin: 20px auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  font-weight: 400;
  font-size: x-large;
  overflow-y: auto;
  visibility: hidden;
  max-width: 700px;
  z-index: 9999;
  legend {
    display: none;
  }
  fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  input,
  label {
    width: 100%;
    height: 50px;
  }
  label {
    margin-top: 15px;
  }
  input {
    margin: 0px 0px 5px 0px;
    border-radius: 5px;
  }
  input#message {
    width: 100%;
    height: 200px;
  }
  .spanErreur {
    display: none;
    color: red;
    background-color: bisque;
    width: 100%;
    height: 40px;
    text-align: center;
    border-radius: 5px;
  }

  #submit {
    width: 20%;
    background-color: #901c1d;
    color: #ffffff;
    font-size: large;
  }

  #close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    margin: 10px 20px;
    background-color: transparent;
    font-size: 50px;
    cursor: pointer;
  }
}