@import "librarie/variables.scss";
@import "librarie/reset.scss";

/*font-awsome*/
@import "./environnement-sass/scss/fontawesome.scss";
@import "./environnement-sass/scss/solid.scss";
@import "./environnement-sass/scss/brands.scss";
@import "./environnement-sass/scss/regular.scss";

.photo_home {
    width: 200px;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "DM Sans", sans-serif;
    padding: 0px 50px 0px 50px;
}
// *:focus{
//     box-shadow: 0,0,10px blue;
// }

.visually-hidden{
    // position: absolute;
    // background-color: bisque;
    // width: 200px;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}
header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    img {
        width: 200px;
    }
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

section#profil_photographe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: rgb(250, 250, 250);
    position: relative;
    padding: 40px;
    h1 {
        color: $color_h2_article;
        order: 1;
        font-size: 60px;
        font-weight: 400;
    }
    button {
        position: absolute;
        top: 20%;
        left: 0;
        order: 2;
        background-color: $color_primary;
        padding: 20px 15px 20px 15px;
        border-radius: 10px;
        color: white;
        font-weight: 500;
        font-size: 20px;
        z-index: 20;
    }

    .photo_profil {
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 100%;
        order: 3;
        right: 0;
        margin: 10px 60px 10px 0px;
        object-fit: cover;
        object-position: center;
    }
}
#containerButtonImg{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
justify-content: space-around;
width: 50%;
height: 100%;
right: 0;
position: absolute;
}

#information_photographe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    order: 4;
    p {
        width: 100%;
        margin: 10px;
        .button_tag {
            border-radius: 20px;
            color: $color_tag;
            border: 1px solid $color_border_tag;
            background-color: $color_background_tag;
            padding: 5px 10px;
            margin: 15px 5px 10px 0px;
            font-size: medium;
        }
    }
}

section.filtre_galerie {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-self: start;
    width: 100%;
    margin: 20px 0px 30px 0px;
    label {
        font-weight: 700;
    }
    select {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 250px;
        height: 40px;
        margin-left: 20px;
        background-color: $color_primary;
        padding: 10px;
        color: white;
        border-radius: 5px;
    }
    .option {
        padding: 0 30px 0 10px;
        min-height: 40px;
        display: flex;
        align-items: center;
        background: #333;
        border-top: #222 solid 1px;
        position: absolute;
        top: 0;
        width: 100%;
        pointer-events: none;
        order: 2;
        z-index: 1;
        box-sizing: border-box;
        overflow: hidden;
        white-space: nowrap;
    }

    .option:hover {
        background: #666;
    }

    .select:focus .option {
        position: relative;
        pointer-events: all;
    }
}

#galerie {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    article {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 30%;
        position: relative;
        img {
            border-radius: 5px;
            width: 350px;
            height: 300px;
            object-fit: cover;
        }
        figcaption{
            bottom: 0;
            left: 0;
        }
        video{
            border-radius: 5px;
            width: 350px;
            height: 300px;
            object-fit: cover;
        }
    }
}

.information_photo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    p {
        font-size: large;
        color: $color_primary;
        margin: 20px 0px 20px 0px;
        .prix {
            display: flex;
            justify-content: space-between;
            font-weight: 500;
            width: 30%;
        }
        .nom_photo {
            width: 70%;
        }
        i {
            cursor: pointer;
        }
    }
}

#informationRecap{
    flex-wrap: wrap;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 20%;
    flex-direction: row;
    padding: 20px;
    right: 25px;
    bottom: 10px;
    background-color: #DB8876;
    border-radius: 5px;
    #likesPopup{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
}

// desktop et plus
@media (min-width: 1200px){
    main{
        max-width: 1547px;
    }
}
//tablettes
@media (max-width: 1140px) {
    section#profil_photographe button {
        bottom: 2%;
        left: 50%;
        top: unset;
        position: fixed;
        transform: translateX(-50%);
    }
    #galerie {
        justify-content: center;
    }
    #galerie article {
        margin: 20px;
        width: 40%;
    }
}
// telephone
@media(max-width: 930px) {
    body{
        min-width: 542px;
    }
    section#profil_photographe .photo_profil{
        width: 150px;
        height: 150px;
        top: 0;
        margin: 10px 15px 10px 0px;
    }
    section#profil_photographe h1{
        font-size: 45px;
    }
    section#profil_photographe button {
        bottom: 2%;
        left: 50%;
        top: unset;
        position: fixed;
    }
    #galerie {
        flex-direction: column;
        align-items: center;
    }
    #information_photographe p{
        display: flex;
    }
    #galerie article img{
        width: 100%;
    }
    #galerie article video{
        width: auto;
    }
    #galerie article{
        width: 100%;
        margin: 0px;
    }
}
