* {
    margin: 0px;
    padding: 0px;
    border: 0px;
  }
  
  a {
    text-decoration: none;
    cursor: pointer;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    overflow-x: hidden;
  }
  