
/*Couleurs*/
$color_primary : rgb(144, 28, 29);

/*Couleurs titre main*/
$color_h1 : rgb(144, 28, 29);

/*Couleurs Titres articles photographes */

$color_h2_article : rgb(211, 87, 61);

/*Couleurs tags*/
$color_background_tag : white;
$color_tag : rgb(144, 28, 29);
$color_border_tag : rgb(196, 196, 196);

/*Couleurs paragraphes informations photographes*/
$color_localisation_photographe : rgb(144, 28, 29);
$color_slogan_photographe : black;
$color_prix_photographe : rgb(82, 82, 82);

/*Boutons tags*/
